/* Styling for the entire page */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */
    background-color: #080e1c;
}

/* Header styling */
header {
    background-color:#080e1c;
    /* background-color: #333; */

    color: white;
    text-align: center;
    padding: 20px;
}

/* Section styling */
.about-section {
    background-color: rgba(255, 255, 255, 0.911);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Heading styling */



/* List styling */
.about-section ul {
    list-style-type: disc;
    margin-left: 20px;
}


/* Links styling */
.about-section a {
    color: #0073e6;
    text-decoration: none;
}

.about-section a:hover {
    text-decoration: underline;
}
